*.amp
*.axf
*.qsf
*.rbf
*.srec
*.qws
*.rpt
*.chg
*.log
*.htm
*.eqn
*.pin
*.sof
*.pof
*.summary
*.done
*.smsg
*.qws
*.jdi
*.qpf
*.bak
*.qsys
*.sopcinfo
*.txt
*db
hps_isw_handoff/
output_files/
simulation/
mysystem/
unsaved/

